:root {
    --green: #b7ca81;
    --green-light: #a0d6a1;
    --pink: #d08791;
}

html {
    height: 100%;
    display: flex;
    background: linear-gradient(to bottom right, #dde8e2aa, #ddd9c5aa);
}

body {
    margin: auto;
}

/* Baby Yoda */
.baby-yoda {
    width: 12em;         
    height: 8em;         
    border-radius: 6em 6em 9em 9em;
    background-color: var(--green);
    position: relative;

    /* olhos: brilho e pupilas */
    background-image:
        radial-gradient(circle at 3.5em 3em, #fff, #fff 0.25em, transparent 0.3em),   /* brilho olho esquerdo */
        radial-gradient(circle at 8.5em 3em, #fff, #fff 0.25em, transparent 0.3em),   /* brilho olho direito */
        radial-gradient(circle at 3em 3em, #000, #000 0.9em, transparent 1em),        /* olho esquerdo */
        radial-gradient(circle at 8em 3em, #000, #000 0.9em, transparent 1em);        /* olho direito */
    background-position:
        3.5em 3em,  /* brilho olho esquerdo */
        8.5em 3em,  /* brilho olho direito */
        3em 3em,    /* olho esquerdo */
        8em 3em;    /* olho direito */
    background-size:
        1em 1em,    /* brilho olho esquerdo */
        1em 1em,    /* brilho olho direito */
        2em 2em,    /* olho esquerdo */
        2em 2em;    /* olho direito */
    background-repeat: no-repeat;

    animation: eyes 2s cubic-bezier(0, 0.02, 0.2, 0.96) infinite alternate;
}

/* Orelhas */
.baby-yoda::before,
.baby-yoda::after {
    content: '';
    display: block;
    width: 10em;         
    height: 3em;         
    background: var(--pink);
    border-top: solid 1em var(--green); 
    position: absolute;
    top: 1em;            
    margin: 0 -2em;      
    z-index: -1;
    border-radius: 4em 2em;
    animation: ears 2s cubic-bezier(0.8, 0.02, 0.2, 0.96) infinite alternate;
}

.baby-yoda::before {
    --rotate: 20deg;
    transform-origin: center right;
    right: 100%;
    transform: rotate(var(--rotate));
    border-bottom-left-radius: 18em 8em;
}

.baby-yoda::after {
    --rotate: -20deg;
    transform-origin: center left;
    left: 100%;
    transform: rotate(var(--rotate));
    border-bottom-right-radius: 18em 8em;
}

/* Animações */
@keyframes ears {
    to {
        transform: rotate(var(--rotate));
    }
}

@keyframes eyes {
    to {
        background-size:
            1em 1em,    /* brilho olho esquerdo */
            1em 1em,    /* brilho olho direito */
            2.75em 1.5em, /* olho esquerdo */
            2.75em 1.5em; /* olho direito */
    }
}
